# Ignore node_modules in all subfolders
**/node_modules/

# Ignore environment files
**/.env

# Ignore test project outputs
test/**/my-backend/
test/**/node_modules/
test/**/.env
test/**/package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
