# dependencies
node_modules/
pakage-lock.json

# environment variables
.env

# logs
logs
*.log

# OS-specific
.DS_Store

# build
dist/
build/

# IDEs and editors
.vscode/
.idea/

# npm
npm-debug.log*
